{% extends 'base.html.twig' %}

{% block title %}Hello UpdatePasswordController!{% endblock %}

{% block body %}

    {{dump(user)}}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
